:root {
    --color-primary-1: #000000;
    --color-primary-2: #000000;
    --color-primary-3: #000000;
    --color-primary-4: #000000;
}

* {
    padding: 0;
}

body {
    background-color: var(--color-primary-1) !important;
    color: var(--color-primary-4) !important
    
}
.max-width{
    max-width: 1200px;
}
a{
    text-decoration: none !important;
    color: var(--color-primary-4) !important
}
.main-cont{
    background-color: var(--color-primary-1) !important;
}

.navbar-brand{
    width: 5%
}

.bg-dark{
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(10px);
  
}
